.App {
  text-align: center;
}

.item{
  padding-bottom: 25px;
}

.add-art-input{
  border-color: red;
  color: red;
}

.add-art-container{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
